.filter-container {
    margin-bottom: 20px;
}

.sort-container {
    margin-bottom: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product {
    border: 1px solid blueviolet;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.product h2 {
    font-weight: bold;
    margin-top: 0;
}

.product p{
    margin-bottom: 20px;
}
.product-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}
